<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TransientConnectionString" value="server=(localdb)\ProjectsV13;database=PaymentsDueTransient;trusted_connection=true;" />
    <add key="DedsConnectionString" value="server=(localdb)\ProjectsV13;database=PaymentsDueDeds;trusted_connection=true;" />
  </appSettings>
</configuration>