IF NOT EXISTS(SELECT [schema_id] FROM sys.schemas WHERE [name]='DataLock')
BEGIN
    EXEC('CREATE SCHEMA DataLock')
END
GO


-----------------------------------------------------------------------------------------------------------------------------------------------
-- vw_PriceEpisode
-----------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(SELECT [object_id] FROM sys.views WHERE [name]='vw_PriceEpisode' AND [schema_id] = SCHEMA_ID('DataLock'))
BEGIN
    DROP VIEW DataLock.vw_PriceEpisode
END
GO

CREATE VIEW DataLock.vw_PriceEpisode
AS 
    SELECT
        [Ukprn],
        [LearnRefNumber],
        [Uln],
        [NiNumber],
        [AimSeqNumber],
        [StandardCode],
        [ProgrammeType],
        [FrameworkCode],
        [PathwayCode],
        [StartDate],
        [NegotiatedPrice],
        [PriceEpisodeIdentifier],
        [EndDate],
		[PriceEpisodeFirstAdditionalPaymentThresholdDate] AS FirstAdditionalPaymentThresholdDate,
		[PriceEpisodeSecondAdditionalPaymentThresholdDate] as SecondAdditionalPaymentThresholdDate
    FROM Reference.DataLockPriceEpisode
GO

-----------------------------------------------------------------------------------------------------------------------------------------------
-- vw_Providers
-----------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(SELECT [object_id] FROM sys.views WHERE [name]='vw_Providers' AND [schema_id] = SCHEMA_ID('DataLock'))
BEGIN
    DROP VIEW DataLock.vw_Providers
END
GO

CREATE VIEW DataLock.vw_Providers
AS
SELECT
    p.Ukprn
FROM Reference.Providers p
GO

-----------------------------------------------------------------------------------------------------------------------------------------------
-- vw_ValidationError
-----------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(SELECT [object_id] FROM sys.views WHERE [name]='vw_ValidationError' AND [schema_id] = SCHEMA_ID('DataLock'))
BEGIN
    DROP VIEW DataLock.vw_ValidationError
END
GO

CREATE VIEW DataLock.vw_ValidationError
AS
SELECT 
    ve.[Ukprn],
    ve.[LearnRefNumber],
    ve.[AimSeqNumber],
    ve.[RuleId],
    ve.[PriceEpisodeIdentifier],
    cp.[CollectionPeriodName],
    cp.[CollectionPeriodMonth],
    cp.[CollectionPeriodYear]
FROM DataLock.ValidationError ve
    CROSS JOIN (
       SELECT TOP 1
          '${YearOfCollection}-' + [Name] AS [CollectionPeriodName],
          [CalendarMonth] AS [CollectionPeriodMonth],
          [CalendarYear] AS [CollectionPeriodYear]
       FROM [Reference].[CollectionPeriods]
       WHERE [Open] = 1
    ) cp
GO

-----------------------------------------------------------------------------------------------------------------------------------------------
-- vw_PriceEpisodeMatch
-----------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(SELECT [object_id] FROM sys.views WHERE [name]='vw_PriceEpisodeMatch' AND [schema_id] = SCHEMA_ID('DataLock'))
BEGIN
    DROP VIEW DataLock.vw_PriceEpisodeMatch
END
GO

CREATE VIEW DataLock.vw_PriceEpisodeMatch
AS
SELECT 
    pem.[Ukprn],
    pem.[PriceEpisodeIdentifier],
    pem.[LearnRefNumber],
    pem.[AimSeqNumber],
    pem.[CommitmentId],
    cp.[CollectionPeriodName],
    cp.[CollectionPeriodMonth],
    cp.[CollectionPeriodYear],
	pem.[IsSuccess]
FROM DataLock.PriceEpisodeMatch pem
    CROSS JOIN (
       SELECT TOP 1
          '${YearOfCollection}-' + [Name] AS [CollectionPeriodName],
          [CalendarMonth] AS [CollectionPeriodMonth],
          [CalendarYear] AS [CollectionPeriodYear]
       FROM [Reference].[CollectionPeriods]
       WHERE [Open] = 1
    ) cp
GO

-----------------------------------------------------------------------------------------------------------------------------------------------
-- vw_PriceEpisodePeriodMatch
-----------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(SELECT [object_id] FROM sys.views WHERE [name]='vw_PriceEpisodePeriodMatch' AND [schema_id] = SCHEMA_ID('DataLock'))
BEGIN
    DROP VIEW DataLock.vw_PriceEpisodePeriodMatch
END
GO

CREATE VIEW DataLock.vw_PriceEpisodePeriodMatch
AS
SELECT 
    pepm.[Ukprn],
    pepm.[PriceEpisodeIdentifier],
    pepm.[LearnRefNumber],
    pepm.[AimSeqNumber],
    pepm.[CommitmentId],
    pepm.[VersionId],
    pepm.[Period],
    pepm.[Payable],
	pepm.[TransactionType],
    cp.[CollectionPeriodName],
    cp.[CollectionPeriodMonth],
    cp.[CollectionPeriodYear]
FROM DataLock.vw_DEDS_PriceEpisodePeriodMatch pepm
    CROSS JOIN (
       SELECT TOP 1
          '${YearOfCollection}-' + [Name] AS [CollectionPeriodName],
          [CalendarMonth] AS [CollectionPeriodMonth],
          [CalendarYear] AS [CollectionPeriodYear]
       FROM [Reference].[CollectionPeriods]
       WHERE [Open] = 1
    ) cp
GO


-----------------------------------------------------------------------------------------------------------------------------------------------
-- vw_Commitments
-----------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(SELECT [object_id] FROM sys.views WHERE [name]='vw_Commitments' AND [schema_id] = SCHEMA_ID('DataLock'))
BEGIN
    DROP VIEW DataLock.vw_Commitments
END
GO

CREATE VIEW DataLock.vw_Commitments
AS
SELECT [CommitmentId]
      ,[VersionId]
      ,c.[Uln]
      ,c.[Ukprn] as UKPRN
	  ,x.[Ukprn] as ProviderUKPRN
      ,[AccountId]
      ,c.[StartDate]
      ,c.[EndDate]
      ,[AgreedCost]
      ,c.[StandardCode]
      ,c.[ProgrammeType]
      ,c.[FrameworkCode]
      ,c.[PathwayCode]
      ,[PaymentStatus]
      ,[PaymentStatusDescription]
      ,[Priority]
	  ,[EffectiveFrom]
	  ,[EffectiveTo]
      
FROM Reference.[DasCommitments] c
  JOIN [Reference].[DataLockPriceEpisode] x
  On x.ULN = c.Uln
   
GO


-----------------------------------------------------------------------------------------------------------------------------------------------
-- vw_16To18IncentiveEarnings
-----------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(SELECT [object_id] FROM sys.views WHERE [name]='vw_16To18IncentiveEarnings' AND [schema_id] = SCHEMA_ID('DataLock'))
BEGIN
    DROP VIEW DataLock.vw_16To18IncentiveEarnings
END
GO

CREATE VIEW DataLock.vw_16To18IncentiveEarnings
AS 
   
    SELECT
        provdier.[Ukprn],
        ape.[LearnRefNumber] AS [LearnRefNumber],
		p.Period,
		p.PriceEpisodeFirstEmp1618Pay,
		p.PriceEpisodeSecondEmp1618Pay

    FROM [Reference].[Providers] provider
	JOIN Reference.DataLockPriceEpisode ape
		ON provier.UKPRN = ape.UKPRN
	JOIN [Reference].[ApprenticeshipPriceEpisode_Period] p
		ON p.Ukprn = ape.Ukprn 
		And p.LearnRefNumber = ape.LearnRefNumber 
		And p.PriceEpisodeIdentifier = ape.PriceEpisodeIdentifier
    WHERE ape.PriceEpisodeContractType = 'Levy Contract'
	And (IsNull(p.PriceEpisodeFirstEmp1618Pay,0) <> 0 OR IsNull(p.PriceEpisodeSecondEmp1618Pay,0) <> 0)
	
GO