<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.2.1" targetFramework="net461" />
  <package id="AutoFixture.AutoMoq" version="4.2.1" targetFramework="net461" />
  <package id="AutoFixture.NUnit3" version="4.2.1" targetFramework="net461" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" requireReinstallation="true" />
  <package id="FastMember" version="1.1.0" targetFramework="net45" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net45" />
  <package id="Moq" version="4.1.1308.2120" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net45" />
  <package id="NUnit" version="3.8.0" targetFramework="net45" />
</packages>