<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TransientConnectionString" value="server=.\SQLEXPRESS;database=DasManualAdjustmentsTransient;trusted_connection=true;" />
    <add key="DedsConnectionString" value="server=.\SQLEXPRESS;database=DasManualAdjustmentsDeds;trusted_connection=true;" />
  </appSettings>
</configuration>