IF NOT EXISTS(SELECT [schema_id] FROM sys.schemas WHERE [name]='Valid')
BEGIN
	EXEC('CREATE SCHEMA Valid')
END
GO

-----------------------------------------------------------------------------------------------------------------------------------------------
-- LearningProvider
-----------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(SELECT [object_id] FROM sys.tables WHERE [name]='LearningProvider' AND [schema_id] = SCHEMA_ID('Valid'))
BEGIN
	DROP TABLE Valid.LearningProvider
END
GO

create table [Valid].[LearningProvider] (
	[UKPRN] [int] NOT NULL,
	PRIMARY KEY CLUSTERED ([UKPRN] ASC)
)

-----------------------------------------------------------------------------------------------------------------------------------------------
-- Learner
-----------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(SELECT [object_id] FROM sys.tables WHERE [name]='Learner' AND [schema_id] = SCHEMA_ID('Valid'))
BEGIN
	DROP TABLE Valid.Learner
END
GO

CREATE TABLE [Valid].[Learner](
	[UKPRN] [int] NOT NULL,
	[LearnRefNumber] [varchar](12) NOT NULL,
	[PrevLearnRefNumber] [varchar](12) NULL,
	[PrevUKPRN] [int] NULL,
	[ULN] [bigint] NOT NULL,
	[FamilyName] [varchar](100) NULL,
	[GivenNames] [varchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[Ethnicity] [int] NOT NULL,
	[Sex] [varchar](1) NOT NULL,
	[LLDDHealthProb] [int] NOT NULL,
	[NINumber] [varchar](9) NULL,
	[PriorAttain] [int] NULL,
	[Accom] [int] NULL,
	[ALSCost] [int] NULL,
	[PlanLearnHours] [int] NULL,
	[PlanEEPHours] [int] NULL,
	[MathGrade] [varchar](4) NULL,
	[EngGrade] [varchar](4) NULL,
	[HomePostcode] [varchar](8) NULL,
	[CurrentPostcode] [varchar](8) NULL,
	[LrnFAM_DLA] [int] NULL,
	[LrnFAM_ECF] [int] NULL,
	[LrnFAM_EDF1] [int] NULL,
	[LrnFAM_EDF2] [int] NULL,
	[LrnFAM_EHC] [int] NULL,
	[LrnFAM_FME] [int] NULL,
	[LrnFAM_HNS] [int] NULL,
	[LrnFAM_LDA] [int] NULL,
	[LrnFAM_LSR1] [int] NULL,
	[LrnFAM_LSR2] [int] NULL,
	[LrnFAM_LSR3] [int] NULL,
	[LrnFAM_LSR4] [int] NULL,
	[LrnFAM_MCF] [int] NULL,
	[LrnFAM_NLM1] [int] NULL,
	[LrnFAM_NLM2] [int] NULL,
	[LrnFAM_PPE1] [int] NULL,
	[LrnFAM_PPE2] [int] NULL,
	[LrnFAM_SEN] [int] NULL,
	[ProvSpecMon_A] [varchar](20) NULL,
	[ProvSpecMon_B] [varchar](20) NULL,
	PRIMARY KEY CLUSTERED 
	(
		[UKPRN] ASC,
		[LearnRefNumber] ASC
	)
)

-----------------------------------------------------------------------------------------------------------------------------------------------
-- FileDetails
-----------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(SELECT [object_id] FROM sys.tables WHERE [name]='FileDetails' AND [schema_id] = SCHEMA_ID('dbo'))
BEGIN
	DROP TABLE [dbo].[FileDetails]
END
GO

CREATE TABLE [dbo].[FileDetails] (
    [ID] [int] IDENTITY(1,1),
    [UKPRN] [int] NOT NULL,
    [Filename] [nvarchar](50) NULL,
    [FileSizeKb] [bigint] NULL,
    [TotalLearnersSubmitted] [int] NULL,
    [TotalValidLearnersSubmitted] [int] NULL,
    [TotalInvalidLearnersSubmitted] [int] NULL,
    [TotalErrorCount] [int] NULL,
    [TotalWarningCount] [int] NULL,
    [SubmittedTime] [datetime] NULL,
    [Success] [bit]
    CONSTRAINT [PK_dbo.FileDetails] UNIQUE ([UKPRN], [Filename], [Success] ASC)
)
GO