<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TransientConnectionString" value="server=.;database=ProviderAdjustmentsTransient;trusted_connection=true;" />
    <add key="DedsConnectionString" value="server=.;database=ProviderAdjustmentsDeds;trusted_connection=true;" />
  </appSettings>
</configuration>