<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0" targetFramework="net45" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="FastMember" version="1.1.0" targetFramework="net45" />
  <package id="MediatR" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.28.3" targetFramework="net45" />
  <package id="Moq" version="4.7.8" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.4.4" targetFramework="net45" />
  <package id="NUnit" version="3.6.0" targetFramework="net45" />
  <package id="SFA.DAS.Account.Api.Client" version="1.0.0.30596" targetFramework="net45" />
  <package id="SFA.DAS.Account.Api.Types" version="1.0.0.30596" targetFramework="net45" />
  <package id="SFA.DAS.Payments.DCFS" version="1.0.0.23003" targetFramework="net45" />
</packages>