<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SubmissionConnectionString" value="server=.;database=DataLockSubmissionIntegrationTests;trusted_connection=true;" />
    <add key="SubmissionDedsConnectionString" value="server=.;database=DataLockSubmissionDedsIntegrationTests;trusted_connection=true;" />
    <add key="PeriodEndConnectionString" value="server=.;database=DataLockPeriodEndIntegrationTests;trusted_connection=true;" />
    <add key="PeriodEndDedsConnectionString" value="server=.;database=DataLockPeriodEndDedsIntegrationTests;trusted_connection=true;" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.142.0" newVersion="4.7.142.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
