
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Provider Payments Test Harness</title>

    <link rel="stylesheet" href="~/Content/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/site.css"/>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>
