<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.5.0" targetFramework="net461" />
  <package id="AutoFixture.AutoMoq" version="4.2.1" targetFramework="net461" />
  <package id="AutoFixture.NUnit3" version="4.2.1" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net45" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" requireReinstallation="true" />
  <package id="Fare" version="2.1.1" targetFramework="net461" />
  <package id="FastMember" version="1.1.0" targetFramework="net45" />
  <package id="FluentAssertions" version="5.4.2" targetFramework="net452" />
  <package id="MediatR" version="2.1.0" targetFramework="net45" />
  <package id="Moq" version="4.7.142" targetFramework="net45" />
  <package id="NLog" version="4.4.12" targetFramework="net45" />
  <package id="NUnit" version="3.8.1" targetFramework="net45" />
  <package id="StructureMap" version="4.5.2" targetFramework="net45" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
</packages>