<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TransientConnectionString" value="server=.\SQLEXPRESS;database=CoInvestedCalcIntegrationTests;trusted_connection=true;" />
    <add key="DedsConnectionString" value="server=.\SQLEXPRESS;database=CoInvestedCalcIntegrationTestsDeds;trusted_connection=true;" />

  </appSettings>
</configuration>